<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GOLA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/question.css" %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static "css/image.css" %}"></link>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">

    var qListJSON = {
    	"questions": []
    };

    var qJSON = {
    	"type": "",
    	"question": "",
    	"options": []
    };


    var Questions = React.createClass({
    	getInitialState: function(){
    		return{ questions: []};
    	},

    	addQuestion: function(){
    		console.log("Question added");
    		var newQuestions = this.state.questions.slice();
    		newQuestions.push(this.refs.newQuestion.submit());
	    	console.log(newQuestions);
	    	this.setState({questions: newQuestions});
	    	this.refs.newQuestion.refresh();
    	},

    	finish: function(){
    		console.log("Question Finish");
    		var qListJSON = {
    			"questions": this.state.questions
    		}
    		console.log(qListJSON);
    	},

    	render: function(){
    		return (
    			<div>
    				<MenuExample ref="newQuestion" items={ ['TEXT', 'IMAGE', 'IMAGE TAGGING', 'VIDEO', 'CALENDAR', 'MAP'] } />
    				<button className="NextQuestionBtn" onClick={this.addQuestion}></button>
    				<button className="CompleteBtn" onClick={this.finish}></button>
    			</div>
    		);
    	}
    });

	var MenuExample = React.createClass({

	    getInitialState: function(){
	        return { focused: 0 };
	    },

	    refresh: function(){
	    	this.setState(this.getInitialState());
	    	this.refs.content.refresh();
	    },

	    submit: function(){
	    	var menulist = ["text", "image", "imagetag", "video"];
	    	console.log("multiple checked value");
	    	return (
	    		{
	    			"multiple": this.refs.multipleCheck.checked,
	    			"type": menulist[this.state.focused],
	    			"question": this.refs.questioninput.state.value,
	    			"imgsrc": this.refs.content.submit().imgsrc,
	    			"options": this.refs.content.submit().options
	    		}
	    	);
	    },

	    clicked: function(index){

	        // The click handler will update the state with
	        // the index of the focused menu entry

	        this.setState({focused: index});
	    },

	    render: function() {

	        // Here we will read the items property, which was passed
	        // as an attribute when the component was created

	        var self = this;

	        // The map method will loop over the array of menu entries,
	        // and will return a new array with <li> elements.

	        return (
	            <div>
	            	<font size="4" color="#002b80">{self.state.focused}.</font>
	            	<QuestionInput ref="questioninput"/>
	                <ul id="questiontabs">{ this.props.items.map(function(m, index){
	        
	                    var style = '';
	        
	                    if(self.state.focused == index){
	                        style = 'focused';
	                    }
	        
	                    // Notice the use of the bind() method. It makes the
	                    // index available to the clicked function:
	        
	                    return <li key={index} id="questiontab" className={style} onClick={self.clicked.bind(self, index)}>{m}</li>;
	        
	                }) }
	                        
	                </ul>
	                <br/><br/>
	                <div className="multipleAnswer"><b>Multiple Answer</b></div>
	                <label className="switch">
						<input type="checkbox" ref="multipleCheck"/>
						<div className="slider round"></div>
					</label><br/><br/>
					<Content ref="content" currentTab={this.state.focused}/>
	            </div>
	        );
	    }
	});
	var Content = React.createClass({
		refresh: function(){
			switch(this.props.currentTab) {
			    case 0:
			        this.refs.text.refresh();
			        break;
			    case 1:
			        this.refs.image.refresh();
			        break;
			    case 2:
			        this.refs.tagimage.refresh();
			        break;
			    case 3:
			        this.refs.video.refresh();
			        break;
			}
		},

		submit: function(){
			switch(this.props.currentTab) {
			    case 0:
			        return(this.refs.text.submit());
			    case 1:
			        return(this.refs.image.submit());
			    case 2:
			        return(this.refs.tagimage.submit());
			    case 3:
			        return(this.refs.video.submit());
			}
		},

	    render: function(){
	        return(
	            <div className="content">
	            	{this.props.currentTab === 0 ?
	            	<div className="text">
	                    <TextQuestion ref="text"/>
	                </div>
	                :null}

	                {this.props.currentTab === 1 ?
	                <div className="image">
	                    <ImageQuestion ref="image"/>
	                </div>
	                :null}

	                {this.props.currentTab === 2 ?
	                <div className="tagimage">
	                    <TaggedImageUpload ref="tagimage"/>
	                </div>
	                :null}

	                {this.props.currentTab === 3 ?
	                <div className="video">
	                    <VideoQuestion ref="video" />
	                </div>
	                :null}
	            
	                {this.props.currentTab === 4 ?
	                <div className="leo">
	                    <img src="http://s.mlkshk.com/r/ZJPL" />
	                </div>
	                :null}
	            </div>
	        );
	    }
	});
	var QuestionInput = React.createClass({
		getInitialState: function() {
		    return {value: ''};
		},
		handleChange: function(event) {
			console.log("event is");
			console.log(event);
			this.setState({value: event.target.value});
		},
		render: function() {
			return (
	   			<input
			        type="text"
			        id="question"
			        placeholder="Enter the question"
			        value={this.state.value}
			        onChange={this.handleChange}
	      		/>
	    	);
  		}
	});
	var TextList = React.createClass({
	  	render: function() {
	  		var self = this;
	  		console.log(this.props);
	    	return (
	    	 	<ul id="options">{ this.props.children.map(function(child, index){
                    return (
                    	<li key={index} id="option">
	                    	<b>Answer Choice {index+1}: </b>{child}
	                    	<button id="deleteopt" onClick={self.props.onDeleteItem.bind(null, index)}></button>
                    	</li>
                    )

                    }) }
                        
                </ul>
	    	);
	  	}
	});

	var TextQuestion = React.createClass({
  		getInitialState: function() {
    		return {
      			items: []
    		};
  		},
  		refresh: function(){
  			this.setState(this.getInitialState());
  		},

  		submit: function(){
  			console.log("TextQuestion submit called");
  			console.log(this.state.items);
  			return {
  				"options": this.state.items
  			};
  		},

	  	render: function() {
	    	return (
	    		<div>
	    			<TextList onDeleteItem={this.onDeleteItem}>{this.state.items}</TextList>
	    			<input id="option" placeholder="Enter an answer choice" ref="new_item"/>
	    			<button id="addopt" type="button" onClick={this.onAddClicked}></button>
	    		</div>
	    	);
	  	},

	  	onAddClicked: function() {
	    	var newItems = this.state.items.slice();
	    	newItems.push(ReactDOM.findDOMNode(this.refs.new_item).value);
	    	this.setState({items: newItems});
	  	},

	  	onDeleteItem: function(index) {
	    	var newItems = this.state.items.slice();
	    	console.log("This item about to be removed")
	    	console.log(newItems[index]);
	    	newItems.splice(index, 1);
	    	this.setState({items: newItems});
	  	}
	});

	var ImageList = React.createClass({
	  	render: function() {
	  		var self = this;
	  		console.log(this.props);
	    	return (
	    	 	<ul id="options">{ this.props.children.map(function(child, index){
                    return (
                    	<li key={index} id="option">
	                    	<b>Answer Choice {index+1}: </b>
	                    	<div id="myDiv">
    							<img src={child} />
							</div>
	                    	<button id="deleteopt" onClick={self.props.onDeleteItem.bind(null, index)}></button>
                    	</li>
                    )

                    }) }
                        
                </ul>
	    	);
	  	}
	});

	var ImageQuestion = React.createClass({
  		getInitialState: function() {
    		return {
      			items: []
    		};
  		},

  		refresh: function(){
  			this.setState(this.getInitialState());
  		},

  		submit: function(){
  			console.log("ImageQuestion submit called");
  			console.log(this.state.items);
  			return {
  				"options": this.state.items
  			};
  		},

	  	render: function() {
	    	return (
	    		<div>
	    			<ImageList onDeleteItem={this.onDeleteItem}>{this.state.items}</ImageList>
	    			<ImageUploadIns ref="new_item"/>
	    			<button id="addopt_image" type="button" onClick={this.onAddClicked}></button>
	    		</div>
	    	);
	  	},

	  	onAddClicked: function() {
	    	var newItems = this.state.items.slice();
	    	var imagePreviewURL = this.refs.new_item.state.imagePreview;
	    	newItems.push(imagePreviewURL);
	    	this.setState({items: newItems});
	    	this.refs.new_item.refresh();
	  	},

	  	onDeleteItem: function(index) {
	    	var newItems = this.state.items.slice();
	    	console.log("This item about to be removed")
	    	console.log(newItems[index]);
	    	newItems.splice(index, 1);
	    	this.setState({items: newItems});
	  	}
	});

	var ImageUploadIns = React.createClass({
		getInitialState: function(){
	        return { imagePreview: "../../../static/images/ImageUploadButton.png" };
	    },

	    refresh: function(){
	    	this.setState(this.getInitialState());
	    },

	    handleSubmit: function(){
	    	console.log("Submit called");
	    },

	    handleImageChange: function(e){
	    	self = this;
	    	console.log("Image Changed!");
	    	var file = e.target.files[0];
	    	var reader = new FileReader();
	    	reader.onload = function(e) {
    			//console.log(e.target.result);
    			self.setState({imagePreview: e.target.result});
  			};
	    	reader.readAsDataURL(file);
	    },

		render: function(){
			var imagePreview = (
				<div id="myDiv">
    				<img src={this.state.imagePreview} />
				</div>);
			return (
				<div id="previewComponent">
			        <form onSubmit={this.handleSubmit()}>
			        	<label id="myLabel">
			        		{imagePreview}
			        		<input ref="fileinput" id="fileinput" type="file" onChange={this.handleImageChange}></input>
			        	</label>
			        </form>
		      	</div>
			)
		}
	});

	var ImageTagList= React.createClass({
	  	render: function() {
	  		var self = this;
	  		
	  		var taggedImage= (
	  			<div id="taggedImage">
	  				<img src={this.state.imagePreview}/>
	  			</div>
	  		);

	    	return (
	    	 	<ul id="options">{ this.props.children.map(function(child, index){
                    return (
                    	<li key={index} id="option">
	                    	<b>Answer Choice {index+1}: </b>
	                    	<div id="myDiv">
    							<img src={child} />
							</div>
	                    	<button id="deleteopt" onClick={self.props.onDeleteItem.bind(null, index)}></button>
                    	</li>
                    )

                    }) }
                        
                </ul>
	    	);
	  	}
	});

	var ImageTagQuestion = React.createClass({
  		getInitialState: function() {
    		return {
      			items: []
    		};
  		},

	  	render: function() {
	    	return (
	    		<div>
	    			<ImageList onDeleteItem={this.onDeleteItem}>{this.state.items}</ImageList>
	    			<ImageUploadIns ref="new_item"/>
	    			<button id="addopt_image" type="button" onClick={this.onAddClicked}></button>
	    		</div>
	    	);
	  	},

	  	onAddClicked: function() {
	    	var newItems = this.state.items.slice();
	    	var imagePreviewURL = this.refs.new_item.state.imagePreview;
	    	newItems.push(imagePreviewURL);
	    	this.setState({items: newItems});
	    	this.refs.new_item.refresh();
	  	},

	  	onDeleteItem: function(index) {
	    	var newItems = this.state.items.slice();
	    	console.log("This item about to be removed");
	    	console.log(newItems[index]);
	    	newItems.splice(index, 1);
	    	this.setState({items: newItems});
	  	}
	});

	var TaggedImageUpload = React.createClass({
		getInitialState: function(){
	        return { 
	        	imagePreview: "../../../static/images/ImageUploadButton.png",
	        	uploaded: false,
	        	items: []
	        	};
	    },

	    refresh: function(){
	    	this.setState(this.getInitialState());
	    },

  		submit: function(){
  			console.log("TextQuestion submit called");
  			console.log(this.state.items);
  			return {
  				"imgsrc": this.state.imagePreview,
  				"options": this.state.items
  			};
  		},

	    handleSubmit: function(){
	    	console.log("Submit called");
	    },

	    handleImageChange: function(e){
	    	self = this;
	    	console.log("Image Changed!");
	    	var file = e.target.files[0];
	    	var reader = new FileReader();
	    	reader.onload = function(e) {
    			//console.log(e.target.result);
    			self.setState({imagePreview: e.target.result, uploaded: true});
  			};
	    	reader.readAsDataURL(file);
	    },

	    onClick: function(e){
	    	console.log(e.nativeEvent.offsetX);
	    	console.log(e.nativeEvent.offsetY);
	    	var top = (e.nativeEvent.offsetY-25).toString();
	    	var left = (e.nativeEvent.offsetX-25).toString();
	    	var newItem = {
					width:"50px",
				    height:"50px",
				    top:top+"px",
    				left:left+"px"
			};
			//var newItem= (<div id='rectangle' style={rectStyle}>Hello</div>);
	    	var newItems = this.state.items.slice();
	    	newItems.push(newItem);
	    	this.setState({items: newItems});
	    },

		render: function(){
			var imagePreview;
			var content;
			if(this.state.uploaded){
				imagePreview = (
					<div id="taggedImage" onClick={this.onClick}>
	    				<img src={this.state.imagePreview}/>
	    				{this.state.items.map(function(tag, index){
		                    return (
		                    	<div id="rectangle" style={tag}/>
		                    )}
		                )}
					</div>
				);
				content = (
					<div id="tagImageComponent">
						<form onSubmit={this.handleSubmit()}>
							{imagePreview}<br/>
							<label id="tagImageUploadedLabel">
								<div id="fileUploadChange" />
								<input ref="fileinput" id="fileinput" type="file" onChange={this.handleImageChange}></input>
							</label>
						</form>
					</div>
				);
			}
			else{
				imagePreview = (
					<div id="taggedImage">
	    				<img src={this.state.imagePreview} />
					</div>
				)
				content = (
					<div id="tagImageComponent">
						<form onSubmit={this.handleSubmit()}>
							<label id="tagImageLabel">
								{imagePreview}
								<input ref="fileinput" id="fileinput" type="file" onChange={this.handleImageChange}></input>
							</label>
						</form>
					</div>
				);

			}
			console.log(content);
			return (
				<div id="temp">
					{content}
				</div>
			);
		}
	})

	var VideoList = React.createClass({
	  	render: function() {
	  		var self = this;
	  		console.log(this.props);
	    	return (
	    	 	<ul id="options">{ this.props.children.map(function(child, index){
                    return (
                    	<li key={index} id="option">
	                    	<b>Answer Choice {index+1}: </b>
	                    	<div id="myDiv">
    							<iframe width="420" height="315"
    								src={child.replace("watch?v=", "v/")}>
    							</iframe>
							</div>
	                    	<button id="videodeleteopt" onClick={self.props.onDeleteItem.bind(null, index)}></button>
                    	</li>
                    )

                    }) }
                        
                </ul>
	    	);
	  	}
	});

	var VideoQuestion = React.createClass({
  		getInitialState: function() {
    		return {
      			items: []
    		};
  		},

		refresh: function(){
  			this.setState(this.getInitialState());
  		},

  		submit: function(){
  			console.log("TextQuestion submit called");
  			console.log(this.state.items);
  			return {
  				"options": this.state.items
  			};
  		},

	  	render: function() {
	    	return (
	    		<div>
	    			<VideoList onDeleteItem={this.onDeleteItem}>{this.state.items}</VideoList>
	    			<input id="option" placeholder="Enter a video link" ref="new_item"/>
	    			<button id="addopt" type="button" onClick={this.onAddClicked}></button>
	    		</div>
	    	);
	  	},

	  	onAddClicked: function() {
	    	var newItems = this.state.items.slice();
	    	newItems.push(ReactDOM.findDOMNode(this.refs.new_item).value);
	    	this.setState({items: newItems});
	  	},

	  	onDeleteItem: function(index) {
	    	var newItems = this.state.items.slice();
	    	console.log("This item about to be removed")
	    	console.log(newItems[index]);
	    	newItems.splice(index, 1);
	    	this.setState({items: newItems});
	  	}
	});


	// Render the menu component on the page, and pass an array with menu options

	ReactDOM.render(
	    <Questions />,
	    document.body
	);

      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.
    </script>
  </body>
</html>