<!-- vote.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GOLA</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/answer.css" %}"></link>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/babel">
    	var poll_id = "{{ poll_id }}";
    	var qListJSON = {{ poll_data|safe }};
    	

		var QuestionList = React.createClass({
		  	render: function() {
		  		var self = this;
		  		console.log(this.props);
		    	return (
		    	 	<ul id="options">{ this.props.questions.map(function(child, index){
	                    return (
	                    	<li key={index} id="option">
		                    	<b>Answer Choice {index+1}: </b>{child}
		                    	<button id="deleteopt" onClick={self.props.onDeleteItem.bind(null, index)}></button>
	                    	</li>
	                    )

	                    }) }
	                        
	                </ul>
		    	);
		  	}
		});

		var Question = React.createClass({
			getInitialState: function() {
				var questionList = this.props.questions.questions;
				var answerList= [];
				for(var i=0; i < questionList.length; i++){
					var answer = {};
					answer.questionIndex = i;
					answer.multiple = questionList[i].multiple;
					answer.choice = [];
					answerList.push(answer);
				}
				console.log("answer format = ");
				console.log(answerList);
		    	return {
		    		questions: questionList,
		    		user_choice: answerList
		    	};
			},
			selectedAnswer: function( option ) {
				console.log("Answer selected");
				console.log(option);
				var answerList = this.state.user_choice;
				for (var i=0; i < answerList.length; i++) {
					if (answerList[i].questionIndex == option.questionIndex) {
						if (answerList[i].multiple){
							if (option.checked){
								if (answerList[i].choice.indexOf(option.optionIndex) < 0){
									answerList[i].choice.push(option.optionIndex);
								}
							}
							else{
								if (answerList[i].choice.indexOf(option.optionIndex) > -1){
									answerList[i].choice.splice(answerList[i].choice.indexOf(option.optionIndex), 1);
								}
							}
						}
						else {
							answerList[i].choice = [];
							answerList[i].choice.push(option.optionIndex);
						}
						break;
					}
				}
				console.log("answerList = ");
				console.log(answerList);
				this.setState( { user_choice: answerList });
			},

			submit: function(){
				$.ajax({
					type: "POST",
				    url: "/vote/"+poll_id+"/",
				    data: JSON.stringify(this.state.user_choice),
				}).done(function(data) {
				    console.log(data);
				    location.href = "/submitted/";
				});
				console.log(this.state.user_choice);
			},

			render: function() {
				console.log("question list:");
				console.log(this.props.questions.questions);
				var style = {"display" : "none"};
				var self = this;
				var title = (
					<div className="title"><b>{this.props.questions.title}</b></div>
				);
				var questions = (
					<ul id="questionList" ref="questionList"> {
						this.state.questions.map(
							function(question, q_index) {
								if (question.type == "imagetag"){
									return (
										<li key={q_index} id="questionItem" name="questionItem">
											<div className="questionIntro"><b>Q{q_index+1}.</b> {question.question}</div>
					    					<div className="taggedImage">
							    				<img src={question.imgsrc}/>
							    				{question.options.map(function(option, o_index){
								                    return (
								                    	<li key={o_index} id={question.type}  name="optionItem">
								                    		<AnswerChoice type={question.type} option={option} questionIndex={q_index} index={o_index} onChoiceSelect={self.selectedAnswer} multiple={question.multiple} />
								                    	</li>
								                    )}
								                )}
											</div>
										</li>
									)
								}
								else{
				    				return (
					    				<li key={q_index} id="questionItem" name="questionItem">
					    					<div className="questionIntro"><b>Q{q_index+1}.</b> {question.question}</div>
						    					<ul id="optionList">{ 
						    						question.options.map(
						    							function(option, o_index){
				                    						return (
				                    							<li key={o_index} id={question.type}  name="optionItem">
					                    							<AnswerChoice type={question.type} option={option} questionIndex={q_index} index={o_index} onChoiceSelect={self.selectedAnswer} multiple={question.multiple} />
				                    							</li>
				                    						)

				                    					}
				                    				)
				                    			}
				                				</ul>
				            			</li>
					    			)
					    		}
				    		}
				    	)
				    }
				    </ul>
				);

				return(
					<div className="quizContainer">
						{title}<br/><br/>
						{questions}<br/>
						<button className="SubmitBtn" onClick={this.submit}></button>
						<br/><br/><br/><br/><br/><br/><br/><br/><br/>
					</div>
				);
			}
		} );

		var AnswerChoice = React.createClass( {
			handleClick: function() {
				this.props.onChoiceSelect({
					questionIndex: this.props.questionIndex,
					optionIndex: this.props.index,
					checked: this.refs.option.checked
				});
			},

			check: function(){
				return(this.refs.option.checked());
			},

			render: function() {
				if (this.props.type == "imagetag"){
					var style = {
						"display" : "none"
					}
					if (this.props.multiple){
						var choiceinput = (<input ref="option" type="checkbox" id={this.props.index} name={this.props.questionIndex} onChange={this.handleClick} style={style}/>);
					}
					else{
						var choiceinput = (<input ref='option' type="radio" id={this.props.index} name={this.props.questionIndex} onChange={this.handleClick} style={style} />);
					}
				}
				else {
					if (this.props.multiple){
						var choiceinput = (<input ref="option" type="checkbox" id={this.props.index} name={this.props.questionIndex} onChange={this.handleClick} />);
					}
					else{
						var choiceinput = (<input ref='option' type="radio" id={this.props.index} name={this.props.questionIndex} onChange={this.handleClick} />);
					}
				}
				return (
					<label>
						{choiceinput}
						<ChoiceContainer type={this.props.type} content={this.props.option} imgsrc={this.props.imgsrc}/>
					</label>
				);
			}
		} );

		var ChoiceContainer = React.createClass({
			render: function() {
				var choiceContent;
				switch (this.props.type) {
			    case "text":
			        choiceContent = (
			        	<div className="textContainer">
			        		{this.props.content}
			        	</div>
			        );
			        break;
			    case "image":
			    	choiceContent = (
			        	<div className="imageContainer">
			        		<img src={this.props.content}/>
			        	</div>
			        );
			        break;
			    case "imagetag":
			        choiceContent = (
			        	<div className="rectTag" style={this.props.content}/>
			        );
			        break;
			    case "video":
			    	choiceContent = (
			    		<div className="videoContainer">
			    			<iframe width="420" height="315" src={this.props.content.replace("watch?v=", "v/")} />
			    		</div>
			    	);
			        break;
			}
				return(
					<div className="choiceContainer">
						{choiceContent}
					</div>
				);
			}
		})

		ReactDOM.render(
			<Question questions={qListJSON}/>,
			document.body
		);

      // To get started with this tutorial running your own code, simply remove
      // the script tag loading scripts/example.js and start writing code here.
    </script>
  </body>
</html>